In [1]:
import pandas as pd
import os

# Define the path to the directory containing the Excel files
directory_path = r'C:\Users\ardas\Downloads\Export AUS'
output_file = 'combined_output.xlsx'

# Ensure the output file is not open or being used by another program
if os.path.exists(output_file):
    os.remove(output_file)

# Get a list of all Excel files in the directory
excel_files = [f for f in os.listdir(directory_path) if f.endswith('.xlsx')]

# List to hold the data from each file
data_frames = []

for file in excel_files:
    file_path = os.path.join(directory_path, file)
    
    # Read the file and use the second row (index 1) as the header
    df = pd.read_excel(file_path, header=1)
    
    # Filter rows where 'State' is 'AUS'
    df_filtered = df[df['State'] == 'AUS'].copy()
    
    # Add a column with the file name for identification
    df_filtered.insert(0, 'File Name', file)
    
    # Extract the date from the file name and create a new 'Date' column
    year_month = file[:4]  # Assuming file name format is like 'YYMM_filename.xlsx'
    year = '20' + year_month[:2]  # Add '20' to the beginning for the year
    month = year_month[2:4]
    date_str = f'01/{month}/{year}'
    df_filtered.insert(1, 'Date', date_str)
    
    # Append the data frame to the list
    data_frames.append(df_filtered)

# Concatenate all data frames into one
combined_df = pd.concat(data_frames, ignore_index=True)

# Save the combined data frame to a new Excel file
try:
    combined_df.to_excel(output_file, index=False)
    print(f'Combined data has been saved to {output_file}')
except PermissionError:
    print(f'Permission denied: Unable to save {output_file}. Please close the file if it is open and try again.')

# Display the output file content (optional)
print(combined_df)

Combined data has been saved to combined_output.xlsx
          File Name        Date State         Meat          EU   West Europe   \
0    1611_mesp.xlsx  01/11/2016   AUS  Beef & Veal  1353.000000     111.00000
1    1611_mesp.xlsx  01/11/2016   AUS      Buffalo     0.000000       0.00000
2    1611_mesp.xlsx  01/11/2016   AUS       Mutton   627.000000       5.00000
3    1611_mesp.xlsx  01/11/2016   AUS         Lamb  1212.000000     183.00000
4    1611_mesp.xlsx  01/11/2016   AUS         Goat     0.000000       0.00000
..              ...         ...   ...          ...          ...           ...
723  2405_mesp.xlsx  01/05/2024   AUS         Lamb  1759.370260     182.02021
724  2405_mesp.xlsx  01/05/2024   AUS         Goat     0.000000       0.00000
725  2405_mesp.xlsx  01/05/2024   AUS         Pork     0.000000       0.00000
726  2405_mesp.xlsx  01/05/2024   AUS   Fancy Meat    85.836160       0.00000
727  2405_mesp.xlsx  01/05/2024   AUS       Total   3827.413761     239.50515

     East Europe       USA East    USA West  Canada East  Canada West  \
0         0.00000   6480.000000  4322.00000    800.00000     32.00000
1         0.00000      0.000000     0.00000      0.00000      0.00000
2        28.00000    826.000000   182.00000     59.00000      0.00000
3        60.00000   3883.000000  1782.00000    305.00000    375.00000
4         0.00000   1394.000000   396.00000     89.00000     95.00000
..            ...           ...         ...          ...          ...
723      52.00646   6881.801590  1582.98919   1000.79072    109.20439
724       0.00000   2589.544170   304.19406    106.81512    121.00352
725       0.00000      0.000000     0.00000      0.00000      0.00000
726       0.00000   1043.378590   269.57282    386.09925     31.03489
727      55.63782  35544.530599  9356.72932   3343.28625    613.46928

            Japan  South Korea      Taiwan    Other Asia   Middle East  \
0    26651.000000  19797.00000  3068.00000  20831.000000   2241.000000
1        0.000000      0.00000     0.00000      0.000000      0.000000
2      516.000000    224.00000   325.00000   4454.000000   3930.000000
3      670.000000   1067.00000   141.00000   5833.000000   5069.000000
4       32.000000    149.00000   465.00000     66.000000      1.000000
..            ...          ...         ...           ...           ...
723   1327.330815   2076.00351   268.73085   7658.128710   9969.585370
724     42.575780    855.63194   181.75894    238.276880      0.000000
725      0.080100     14.00998     0.01209   2599.764771      0.000000
726   2505.752764   2482.81339   307.62012   8257.139640   1920.936680
727  30005.282637  22725.07486  4162.06627  57403.352763  23416.593949

      Other Dest         Total
0     971.000000   86659.000000
1       0.000000       0.000000
2    1256.000000   12431.000000
3    2926.000000   23507.000000
4     210.000000    2898.000000
..           ...            ...
723  3835.488040   36703.450115
724   241.843060    4681.643470
725   328.758301    2942.625242
726  2812.865170   20103.049474
727  9324.816001  200017.758660

[728 rows x 18 columns]